*{
    margin: 1rem !important;
    font-family: 'Nunito', sans-serif;
    background-color: #FAF6F1;
}

div {
    margin: 0 !important;
}

header{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    align-items: center;
    border-bottom: solid #E63946;
}

h1{
    font-size: 3em;
    color: #47A8BD;
}

p{
    font-weight: 300;
}

header img{
    width: 250px;
    height: auto;
}

main{
    display: flex;
    border-bottom: 2px solid #E63946;
    padding-bottom: 1rem;
}

h2, h3{
    color: #2C423F;
}

.principal{
    flex: 0 0 65%;
}

.side{
    border-left: 2px solid #E63946;
    padding-left: 1rem;
}

#experiencia{
    padding-bottom: 1rem;
}

.info{
    padding-bottom: 0.5rem;
}

#skills p, span{
    margin-bottom: 0 !important;
}

#skills span{
    margin-top: 0.5rem !important;
}

.color-dot{
    width: 20px;
    height: 20px;
    background-color: #47A8BD;
    border-radius: 50%;
    display: inline-block;
}

.dot{
    width: 20px;
    height: 20px;
    background-color: #A18276;
    border-radius: 50%;
    display: inline-block;
}

footer{
    display: flex;
    justify-content: space-around;
}

footer h4{
    margin-left: 0 !important;
}
